# Terraform state and backup files
*.tfstate
*.tfstate.*
*.backup
*.tfvars
.terraform.lock.hcl

# Terraform crash log
crash.log

# .terraform directory
.terraform/

# Sensitive files
*.pem
*.key
*.env

# SSH keys
id_rsa*
id_ed*

# Editor/OS files
*.swp
*.swo
*.DS_Store
Thumbs.db

# Local IDE files
.vscode/
lab/vault.sh
plan*